/* style.css */

/** {
    border: 1px solid red;
}*/

.set-padding {
    padding: 0 1in;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto', sans-serif;
    margin: 0px;
}

.normal-font {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
    border-radius:10px;
    color: #F9FAF8;
    padding: 4px 16px;
    border: 0px;
    word-wrap: 0;
}

/* section 1 - hero */

.hero {
    background-color: #1F2937;
}

/* section 1a - menu bar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    padding: 15px 0 100px 0;
}

.logo {
    display: flex;
    flex: 0;
    width: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    display: flex;
    flex: 1;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 25px;
}

/* section 1b - intro */
.intro {
    display: flex;
    justify-content: center;
    align-items: self-start;
    gap: 50px;
    padding: 0 0 25px 0;
}

.main-font {
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
    padding: 0 0 25px 0;
}

.intro .normal-font {
    padding: 0 0 25px 0;
}

#hero-img {
    width: 300px;
    height: auto;
    padding: 0;
}

/* section 2 - destinations */
.destinations-header {
    font-size: 36px;
    text-align: center;
    color: #1F2937;
    padding: 25px 0;
}

.destinations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 25px 0;
    gap: 50px;
}

.destination {
    width: 100px;
    text-align: center;
}

.destination-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.destination-title {
    font-size: 12px;
}

/* section 3 - quotes */
.quote-section {
    background-color: #E5E7EB;
    padding: 50px 1.5in;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote-source {
    font-size: 18px;
    color: #1F2937;
    text-align: right;
}

.modal {
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #E5E7EB;
    background-color: #3882f6;
    padding: 6px;
    border-radius: 10px;
    gap: 25px;
    padding: 25px 0.5in;
    margin: 50px 0;
}

.modal-left {
    flex: 1;
}

.modal-header {
    font-weight: bold;
    font-size: 24px;
}

.modal-right {
    flex: 0;
    flex-basis: auto;
    text-align: right;
}

.modal button {
    border: 2px solid #F9FAF8;
}

/* section 4 - footer */
.footer {
    background-color: #1F2937;
    bottom: 0px;
    text-align: center;
    padding: 15px;
}